<!DOCTYPE html>
<head>
<style type= "text/css">
div.window{
 position: absolute;
 width: 300px;
 height: 200px;
 border: 3px outset gray;
}
div.titlebar{
  position: absolute;
  top:0px; height: 18px;
  width: 290px;
  background-color: #aaa;
  border-bottom: groove gray 2px;
  padding: 3px 5px 2px 5px ;
  font: bold 11pt sans-serif;
}

div.content{
  position: absolute;
  top: 25px;
  height: 165px;
  width: 290px;
  padding: 5px;
  overflow: auto;
  background-color: #fff;
}

div.translucent{
  opacity: .75;
  filter: alpha(opacity= 75);
}

</style>
</head>

<body>
<!-- really need to get all this done ! -->
<div class="window" style="left: 10px; top: 10px; z-index: 10;">
<div class="titlebar"> testing! </div>
<div class= "content">
</div>
</div>

 
